.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 60px;
    width: 100%;
    box-sizing: border-box;
}

/* LEFT SIDE */
.header-left{
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo{
    height: 90px;
}

.header-left h2{
    font-size: 32px;
    margin: 0;
}

.header-left h2 span{
    color: #1B92BC;
}

.header-left h2:hover{
    text-shadow: 3px 3px 8px #27AAE1;
}

/* RIGHT SIDE */
.header-right{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: auto;
}

/* BUTTON */
.nav-button{
    font-size: 16px;
    font-weight: bold;
    background: none;
    border: none;
    border-radius: 6px;
    padding: 8px 12px;
    cursor: pointer;
    transition: 0.25s;
}

.nav-button:hover{
    background-color: #27AAE1;
    color: white;
}

/* PROFILE */
.profile{
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
}